<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.groupfour.dao.DiagnosisDao">
	<resultMap type="RegisterInfo" id="reMap">
		<id column="register_id" property="registerId" />
		<result column="flag" property="flag" />
		<result column="patient_card" property="patientInfo.patientCard" />
		<result column="patient_name" property="patientInfo.patientName" />
		<result column="sex" property="patientInfo.sex" />
		<result column="age" property="patientInfo.age" />
		<result column="card_num" property="patientInfo.cardNum" />
		<result column="address" property="patientInfo.address" />
		<result column="dept_id" property="deptInfo.deptId" />
		<result column="dept_name" property="deptInfo.deptName" />
		<result column="doctor_id" property="doctorInfo.doctorId" />
		<result column="doctor_name" property="doctorInfo.doctorName" />
	</resultMap>
	<select id="getRegisterInfoByRegisterId" resultMap="reMap">
		select * from patient_info p,register_info r,dept_info dept,doctor_info doctor where
		  p.patient_card = r.patient_card and r.dept_id=dept.dept_id and r.doctor_id=doctor.doctor_id
		    and r.register_id=#{registerId}
	</select>

	<resultMap type="medicinePerscription" id="mpMap">
		<id column="perscription_id" property="perscriptionId" />
		<result column="medicine_id" property="medicineInfo.medicineId" />
		<result column="medicine_name" property="medicineInfo.medicineName" />
		<result column="dosage" property="medicineInfo.dosage" />
		<result column="price" property="medicineInfo.price" />
		<result column="stock_quantity" property="medicineInfo.stockQuantity" />
		<result column="unit" property="medicineInfo.unit" />
		<result column="amount" property="amount" />
		<result column="money" property="money" />
		<result column="remark" property="remark" />
		<result column="returnAmount" property="returnAmount" />
		<result column="returnMoney" property="returnMoney" />
	</resultMap>
	<select id="getMpListByRegisterId" resultMap="mpMap">
		select * from medicine_perscription mp,medicine_info mi
		<where>
			mp.medicine_id = mi.medicine_id
			<if test="registerId != null and registerId != ''">
				and mp.register_id=#{registerId}
			</if>
			<if test="flag != null">
				and mp.flag=#{flag}
			</if>
		</where>
	</select>
	
	<insert id="addMedicinePerscription" >
         insert into medicine_perscription (register_id,medicine_id,amount) values(#{registerId},#{medicineId},#{num})     
     </insert> 
	
</mapper>